{% extends 'base.html' %} {% block sidebar %}
<div class="col-md-4">
  <div class="list-group">
    {% for item in categories %}
    <a
      href="{%  url 'category_show' item.id %}"
      class="list-group-item list-group-item-action {% if category.id == item.id %} active {% endif  %}"
      >{{ item.title }} 
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block content %}
<div class="col-md-8">
  {% for item in news %}
  <div class="card mb-3">
    <div class="card-header">
      Категория:
      <a href="{%  url 'category_show' item.category.id %}"
        >{{ item.category.title }}</a
      >
    </div>
    <div class="card-body d-flex">
      <div>
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.content }}</p>
        <a href="#" class="btn btn-primary">Подробнее</a>
      </div>
    </div>
    <div class="card-footer text-muted">{{ item.created_at }}</div>
  </div>
  {% endfor %}
</div>
{% endblock %}