{% extends 'base.html' %} {% block sidebar %} {% include 'inc/_sidebar.html' %}
{% endblock %} {% block content %}
<div class="card mb-3 p-3">
  <h1>Добавить новость</h1>
  <form action="{% url 'news.create' %}" method="POST">
    {% csrf_token %} 
    {{ form.as_p }} 
    {% comment %}
    <div class="py-1">
      <label for="{{ form.title.id_for_label }}" class="form-label"
        >Название</label
      >
      {{ form.title }}
      <div id="validationServer05Feedback" class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>

    <div class="py-2">
      <label for="{{ form.content.id_for_label }}" class="form-label"
        >Описание</label
      >
      {{ form.content }}
      <div id="validationServer05Feedback" class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
    <div class="py-2">
      <label for="{{ form.is_published.id_for_label }}" class="form-label"
        >Опубликовано</label
      >
      {{ form.is_published }}
      <div id="validationServer05Feedback" class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>

    <div class="py-2">
      <label for="{{ form.category.id_for_label }}" class="form-label"
        >Категория</label
      >
      {{ form.category }}
      <div id="validationServer05Feedback" class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
    {% endcomment %}
    <button type="submit" class="btn btn-primary btn-block">Добавить</button>
  </form>
</div>
{% endblock %}
